@font-face {
    font-family: 'fontello';
    src: url('../res/fontello.ttf') format('truetype'), url('../res/fontello.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    color: #A6B4B4;
    background-color: #2C2C2C;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Lucida Grande', Helvetica, Arial, Roboto, serif;
}

.touchrect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.icon {
    font-family: 'fontello', serif;
}

.invisible {
    opacity: 0 !important;
    visibility: hidden !important;
}
